server:
  port: 8080
spring:
   application:
    name: wms-rfid-app

    # MySQL 配置
    datasource:
      url: jdbc:mysql://mysql:3306/rfid?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8&allowPublicKeyRetrieval=true
      username: root
      password: EtreS_0128#
      driver-class-name: com.mysql.cj.jdbc.Driver
      type: com.alibaba.druid.pool.DruidDataSource
      druid:
        initial-size: 5
        min-idle: 5
        max-active: 20
        max-wait: 60000
        time-between-eviction-runs-millis: 60000
        min-evictable-idle-time-millis: 300000
        validation-query: SELECT 1
        test-while-idle: true
        test-on-borrow: false
        test-on-return: false
        pool-prepared-statements: true
        max-pool-prepared-statement-per-connection-size: 20

  # Redis 配置
   data:
     redis:
       host: redis
       port: 6379
       password: redis123456
       database: 0
       timeout: 60000ms
       connect-timeout: 10000ms
       lettuce:
         pool:
           max-active: 8
           max-idle: 8
           min-idle: 0
           max-wait: -1ms
           time-between-eviction-runs: 60000ms
         shutdown-timeout: 100ms


# 设备信息
device:
  appName: HM202305160101 # 设备应用名称(需按实际场景配置)
  edgeId: HM202305160101 # 边缘设备ID(需按实际场景配置)
  rfid: G81000000250401B0021 # RFID读写器ID
  hikid-in: GA9666825 # 海康门禁设备ID(进)
  hikid-out: # 海康门禁设备ID(出)
mqtt:
  broker:
    url: tcp://host.docker.internal:1883 # MQTT代理地址(需按实际场景配置)
    username:
    password:
    client-id: spring-boot-client-${random.uuid}
    clean-session: true
    connection-timeout: 30
    keep-alive-interval: 60
  topic:
    send: /dev/${device.appName}/service/data
    receive: /dev/${device.edgeId}/service/command
    personin: /dev/${device.hikid-in}/service/data
    personout: /dev/${device.hikid-out}/service/data
wms:
  num: 1 # 仓库编号,需要和南瑞确定(需按实际场景配置)
  channelName:
    outdoor: outdoor #redis接收RFID数据的频道名称
# 图片上传配置
img:
  httpPath: localhost:${server.port}/img/ # 海康门禁访问图片地址
#  httpPath: http://127.0.0.1:${server.port}/img/ # 海康门禁访问图片地址
  path: src/main/resources/static/img     # 人脸图片实际存储地址
hik:
#  ip: 192.168.1.10,192.168.1.11 # 海康门禁IP地址
  ip: 192.168.1.10 # 海康门禁IP地址
  port: 8000  # 海康门禁端口
  username: admin # 海康门禁用户名
  password: hik12345 # 海康门禁密码
logging:
  level:
    root: INFO
    com.wms: DEBUG
  file:
    name: /app/logs/application.log

